@using cordovaBuild.Models
@model cordovaBuild.Data.Model.Project


@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_LayoutMaterialAdmin.cshtml";
    ViewBag.PageName = "Create";
    ViewBag.MenuProjectClass = "active";
}

<div class="row">
    <div class="col-lg-12">
        <h1 class="text-primary" id="project-title">Create Project</h1>
    </div><!--end .col -->
    <div class="col-lg-8">
        <article class="margin-bottom-xxl">
            <p class="lead">
                
            </p>
        </article>
    </div><!--end .col -->
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body ">
                <div id="rootwizard2" class="form-wizard form-wizard-horizontal">
                    <form class="form floating-label form-validation" role="form" novalidate="novalidate">
                        <div class="form-wizard-nav">
                            <div class="progress" style="width: 50%;"><div class="progress-bar progress-bar-primary" style="width: 0%;"></div></div>
                            <ul class="nav nav-justified nav-pills">
                                <li class="active"><a href="#step1" data-toggle="tab"><span class="step">1</span> <span class="title">DETAILS</span></a></li>
                                <li><a href="#step2" data-toggle="tab"><span class="step">2</span> <span class="title">BUILD</span></a></li>
                                <!--
                                <li><a href="#step3" data-toggle="tab"><span class="step">3</span> <span class="title">OUTPUT</span></a></li>
                                <li><a href="#step4" data-toggle="tab"><span class="step">4</span> <span class="title">LOGS</span></a></li>
                                    //-->
                            </ul>
                        </div><!--end .form-wizard-nav -->
                        <div class="tab-content clearfix">
                            <div class="tab-pane active" id="step1">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <input type="text" name="txtProjectName" id="txtProjectName" value="@Model.Name" class="form-control" data-rule-minlength="2" required="">
                                            <label for="firstname" class="control-label">Project name</label>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <input type="text" name="txtGitRepository" id="txtGitRepository" value="@Model.GitUrl" class="form-control" data-rule-minlength="2" required="">
                                            <label for="lastname" class="control-label">Git repository</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <input type="text" name="txtGitUsername" id="txtGitUsername" value="@Model.GitUsername" class="form-control" data-rule-minlength="2" required="">
                                            <label for="firstname" class="control-label">Git username</label>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <input type="password" name="txtGitPassword" id="txtGitPassword" value="@Model.GitPassword" class="form-control" data-rule-minlength="2" required="">
                                            <label for="lastname" class="control-label">Git password</label>
                                        </div>
                                    </div>
                                </div>
                            </div><!--end #step1 -->
                            <div class="tab-pane" id="step2">
                                <br><br>
                                <div class="card tabs-left style-default-light">
                                    <ul class="card-head nav nav-tabs" data-toggle="tabs">
                                        <li class="active"><a href="#first5"><i class="fa fa-android"></i> &nbsp;Android</a></li>
                                        <li class=""><a href="#second5"><i class="fa fa-apple"></i> &nbsp;iOS</a></li>
                                        <li class=""><a href="#third5"><i class="fa fa-windows"></i> &nbsp;Windows</a></li>
                                    </ul>
                                    <div class="card-body tab-content style-default-bright" id="android-tab" data-project-id="@Model.Id">
                                        <div class="tab-pane active" id="first5">
                                            <p>
                                                <button type="button" class="btn ink-reaction btn-raised btn-primary" id="btnBuildAndroid">
                                                    <label class="btn ink-reaction btn-primary">
                                                        <i class="fa fa-android"></i> &nbsp;Build Android
                                                    </label>
                                                </button>
                                            </p>
                                            <div class="alert alert-success" role="alert" id="alertAndroidProjectCreated" style="display:none;">
                                                Project has been saved.
                                            </div>
                                            <div class="alert alert-success" role="alert" id="alertSucessAndroid" style="display:none;">
                                                Andoid build started, please refresh the table below in a few minutes to get the output.
                                            </div>
                                            <h3>Build Output</h3>
                                            <button type="button" class="btn ink-reaction btn-floating-action btn-primary pull-right" id="btnRefreshAndroid">
                                                <i class="fa fa-refresh"></i>
                                            </button>
                                            <div id="divAndroidBuildLog"></div>
                                        </div>
                                        <div class="tab-pane" id="second5">
                                            <p>
                                                <button type="button" class="btn ink-reaction btn-raised btn-primary disabled" id="btnBuildAndroid">
                                                    <label class="btn ink-reaction btn-primary">
                                                        <i class="fa fa-apple"></i> &nbsp;Build iOS
                                                    </label>
                                                </button>
                                            </p>
                                            <h3>Build Output</h3>
                                            <table class="table no-margin">
                                                <thead>
                                                    <tr>
                                                        <th>#</th>
                                                        <th>First Name</th>
                                                        <th>Last Name</th>
                                                        <th>Username</th>
                                                    </tr>
                                                </thead>
                                            </table>
                                        </div>
                                        <div class="tab-pane" id="third5">
                                            <p>
                                                <button type="button" class="btn ink-reaction btn-raised btn-primary disabled" id="btnBuildAndroid">
                                                    <label class="btn ink-reaction btn-primary">
                                                        <i class="fa fa-windows"></i> &nbsp;Build Windows
                                                    </label>
                                                </button>
                                            </p>
                                            <h3>Build Output</h3>
                                            <table class="table no-margin">
                                                <thead>
                                                    <tr>
                                                        <th>#</th>
                                                        <th>First Name</th>
                                                        <th>Last Name</th>
                                                        <th>Username</th>
                                                    </tr>
                                                </thead>
                                            </table>
                                        </div>
                                    </div><!--end .card-body -->
                                </div>

                            </div><!--end #step2 -->
                            <div class="tab-pane" id="step3">
                                <br><br>
                                <div class="form-group">
                                    <input type="text" name="url2" id="url2" class="form-control" data-rule-url="true" required="">
                                    <label for="url2" class="control-label">URL</label>
                                    <p class="help-block">Starts with http:// </p>
                                </div>
                                <div class="form-group">
                                    <input type="text" name="rangelength2" id="rangelength2" class="form-control" data-rule-rangelength="[5, 10]" required="">
                                    <label for="rangelength2" class="control-label">Range restriction</label>
                                    <p class="help-block">Between 5 and 10 </p>
                                </div>
                            </div><!--end #step3 -->
                            <div class="tab-pane" id="step4">
                                <br><br>
                                <div class="form-group">
                                    <div class="form-group">
                                        <select id="Age2" name="Age" class="form-control">
                                            <option value="">&nbsp;</option>
                                            <option value="30">30</option>
                                            <option value="40">40</option>
                                            <option value="50">50</option>
                                            <option value="60">60</option>
                                            <option value="70">70</option>
                                        </select>
                                        <label for="Age2">Age</label>
                                        <p class="help-block">This is supporting text for this field.</p>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <textarea name="textarea1" id="textarea1" class="form-control" rows="3"></textarea>
                                    <label>Textarea</label>
                                </div>
                            </div><!--end #step4 -->
                        </div><!--end .tab-content -->
                    </form>
                </div><!--end #rootwizard -->
            </div><!--end .card-body -->
        </div><!--end .card -->
        <em class="text-caption"></em>
    </div><!--end .col -->
</div>

@section Scripts {
    <script type="text/javascript">
        $("#btnBuildAndroid").click(function () {
            Build();
        });

        $("#btnRefreshAndroid").click(function () {
            GetBuildLog('android')
        });

        function GetBuildLog(buildType) {

            $.ajax({
                url: '@Url.Action("BuildLog", "Project")',
                data: JSON.stringify({ projectId: $("#android-tab").data("project-id"), buildType: buildType }), //{ address: address, instructions: instructions},
                contentType: 'application/json',
                method: 'POST',
                dataType: 'HTML',
                success: function (result) {
                    var sssdf = result;
                    $("#divAndroidBuildLog").html(result);
                    $("#alertAndroidProjectCreated").slideUp();
                    $("#alertSucessAndroid").slideUp();
                },
                error: function (xhr, error, errorThrown) {
                    $("#divAndroidBuildLog").html(xhr.responseText);
                }
            });
        }

        function Build() {
            $("#btnBuildAndroid").addClass("disabled");
            var dataParameters = {
                Id: $("#android-tab").data("project-id"),
                Name: $("#txtProjectName").val(),
                GitUrl: $("#txtGitRepository").val(),
                GitUsername: $("#txtGitUsername").val(),
                GitPassword: $("#txtGitPassword").val()
            };
            $.ajax({
                url: '@Url.Action("BuildAndroid", "Project")',
                data: dataParameters, 
                dataType: 'json',
                method: 'POST',
                success: function (result) {
                    var sssdf = result;
                    $("#alertSucessAndroid").slideDown();
                    $("#android-tab").data("project-id", result.projectId);
                    if (result.isNew) {
                        $("#project-title").html($("#txtProjectName").val());
                        $("#alertAndroidProjectCreated").slideDown();
                    }
                    $("#btnBuildAndroid").removeClass("disabled");
                },
                error: function (xhr, error, errorThrown) {
                    var esd = error;
                    $("#btnBuildAndroid").removeClass("disabled");
                }
            });
        }

        GetBuildLog('android');


    </script>
}

